<div class="fields">
  {{input type="text" name="first-name" class="first-name" placeholder="First Name"}}
  {{input type="text" name="last-name" class="last-name" placeholder="Last Name"}}
  {{input type="text" name="organization" class="organization" placeholder="Organization"}}
  {{input type="text" name="phone" class="phone" placeholder="Phone Number"}}
  {{input type="text" name="email" class="email" placeholder="Email"}}
</div>
<div class="submit">
  <input type="submit" {{bind-attr value="call-to-action"}}/>
</div>
